#navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.numbers {
  margin-top: 30px;
}
.numbers div {
  padding: 10px;
  border: 1px gray solid;
  width: 75px;
  margin: auto;
  text-align: center;
}

.mega-menu-opened{
  display: block;
  position: absolute;
  background-color: blue;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 90vh;
}

.mega-menu-closed {
  display: none;
}

.test {
  height: 200vh;
}